[package]
name = "esp-rs-demo"
version = "0.4.0"
authors = ["andber1 <82754113+andber1@users.noreply.github.com>"]
edition = "2021"
resolver = "2"

[profile.release]
opt-level = "s"
lto = true

[profile.dev]
debug = true # Symbols are nice and they don't increase the size on Flash
opt-level = "z"

[features]
pio = ["esp-idf-sys/pio"]

[dependencies]
anyhow = "1.0"
esp-idf-sys = { version = "0.32.1", features = ["binstart"] }
esp-idf-hal = "0.40.1"
esp-idf-svc = {version = "0.45.0", features = ["experimental"]}
embedded-svc = {version = "0.24", features = ["experimental"]}
embedded-hal = "0.2.7"
rgb = "0.8.36"
shtcx = "0.11.0"
poloto = "17.1.0"
ringbuffer = "0.12.0"


[build-dependencies]
embuild = "0.31.0"
